body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: antiquewhite;
}

h2 {
  margin: 0 0 1rem 0;
  color: darkmagenta;
}

.input-number {
  border: 1px solid violet;
  border-radius: .5rem;
  padding: .25rem;
  width: 5rem;
}

select {
  margin-left: .5rem;
  padding: .25rem;
}

.equal {
  font-weight: bold;
  font-size: 2rem;
  color: darkmagenta;
}
